<template name="meteorTips">
	<h1>Useful Meteor CLI</h1>
	<p>
		<li>To delete an app: <i>meteor deploy yourapp.meteor.com --delete</i></li>
		<li>With your settings: <i>meteor --settings settings.json deploy yourapp.meteor.com</i></li>
		<li>Adding in a Meteor package: <i>meteor add percolate:intercom</i></li>
		<h2>Mongo</h2>
		<li>Mongo Shell: <i>meteor mongo</i></li>
		<li>Accessing Meteor production database: <i>meteor mongo yourapp.meteor.com</i></li>
		<li>Find a user: <i>db.users.find()</i></li>
		<li>See your collections: <i>show collections</i></li>
	</p>
	<h1>Git Tips</h1>
	<p>
		<li>Create new banch and checkout to it straight away: <i>git checkout -b foo</i></li>
	</p>
	<h1>Setting up GoSquared on a Meteor JS app</h1>
	<p>
	<i>coming soon...</i>
	</p>
</template>

