<template name="threeCircles">
	<h2>Three Circles</h2>
	<p>From <a href="http://bost.ocks.org/mike/circles/">http://bost.ocks.org/mike/circles/</a></p>
	<p>Static (without D3):</p>
	<i>Currently messing up. Need to make sure I'm selecting the right element using D3.</i>
	<svg width="720" height="120">
	  <circle class="threeCircles" cx="40" cy="60" r="10"></circle>
	  <circle class="threeCircles" cx="80" cy="60" r="10"></circle>
	  <circle class="threeCircles" cx="120" cy="60" r="10"></circle>
	</svg>
</template>